<div class="jumbotron">
  <div class="page">
    <h1>Editing Client</h1>
    <p>
    <%= render 'form', client: @client %>
    </p>
    
    <button class="btn btn-outline-primary btn-sm">
    <%= link_to 'Back', clients_path %>
    </button>
  </div>
</div>
