<div class="jumbotron">
  <div class="page">
    <h1>New User Account</h1>
    <%= render 'form', client: @client %>
    <br>
    <button class="btn btn-outline-primary btn-sm">
    <%= link_to 'Back', clients_path %>
    </button>
  </div>
</div>
