<div class="jumbotron">
  <div class="page">
    <h1>Edit Appointment</h1>
    <p>
    <%= render 'form', appointment: @appointment %>
    </p>
    
    <button class="btn btn-outline-primary btn-sm">
    <%= link_to 'Back', appointments_path %>
    </button>
  </div>
</div>
